<div class="header">
  <div class="container header_container">
    <div class="header_left_container">
      <a href="./main.html">
        <img class="header_logo_img" src='../assets/images/logo.svg' />
      </a>
      <div class="header_left_menu_container">
        <p class="header_left_menu_typo">
          이용방법
        </p>
        <a href="./project_view_all.html" class="header_left_menu_typo">
          프로젝트 보기
        </a>
        <a href="./cheesigner_view_all.html" class="header_left_menu_typo">
          치자이너 찾기
        </a>
      </div>
    </div>
    <div class="header_right_menu_container">
      <div class="header_right_menu_user_info_container">
        <a href="./sign_up_membership_type.html" class="header_right_menu_user_info_typo">
          회원가입
        </a>
        <div class="header_right_menu_user_info_bar"></div>
        <a href="./login.html" class="header_right_menu_user_info_typo">
          로그인
        </a>
      </div>
      <div class="header_left_menu_etc_container">
        <p class="header_left_menu_etc_typo">
          Youtube
        </p>
        <p class="header_left_menu_etc_typo">
          Language
        </p>
      </div>
    </div>
  </div>
</div>