<link rel="stylesheet" type="text/css" href="./pc.css">
<link rel="stylesheet" type="text/css" href="../../default.css">
<div class="header">
  <div class="container header_container">
    <div class="header_left_container">
      <img class="header_logo_img" src='../../assets/images/logo.svg' />
      <div class="header_left_menu_container">
        <p class="header_left_menu_typo">
          이용방법
        </p>
        <p class="header_left_menu_typo">
          프로젝트 보기
        </p>
        <p class="header_left_menu_typo">
          치자이너 찾기
        </p>
      </div>
    </div>
    <div class="header_right_menu_container">
      <div class="header_right_menu_user_info_container">
        <p class="header_right_menu_user_info_typo">
          회원가입
        </p>
        <div class="header_right_menu_user_info_bar"></div>
        <p class="header_right_menu_user_info_typo">
          로그인
        </p>
      </div>
      <div class="header_left_menu_etc_container">
        <p class="header_left_menu_etc_typo">
          Youtube
        </p>
        <p class="header_left_menu_etc_typo">
          Language
        </p>
      </div>
    </div>
  </div>
</div>