.container {
    width: 843px;
    height: 1329px;
    padding: 60px 50px 50px 50px;
}

.dialog_item {
    flex-direction: column;
    padding: 37px 0 27px 0;
}

.dialog_item_title {
    min-width: 322px;
    margin-bottom: 30px;
}

.dialog_item_sub_title_typo {
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
    margin-top: 7px;
}

.dialog_item_context_container {
    width: 100%;
    padding: 0;
}

.row {
    flex-direction: row;
}

.dialog_item_context {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dialog_item_button_container {
    width: 116px;
    display: flex;
}

.dialog_item_button {
    width: 54px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444444;
    box-sizing: border-box;
    margin-right: 15px;
}

.price_area {
    width: 101px;
    height: 38px;
}

.dialog_item_button_typo {
    color: #444;
    font-size: 13px;
    font-weight: 300;
}

.select_button_container {
    margin-left: 47px;
}

.dialog_item_context_calculate_price {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.dialog_item_context_blank {
    width: 95px;
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid #E5E5E5;
    padding: 0 14px;
}

.dialog_item_context_blank_typo {
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
}

.operator {
    color: #444;
    font-size: 13px;
    font-weight: 300;
    margin: 0 13px;
}

.without_margin {
    margin: 0;
}

.darker {
    background: #F2F2F2;
}

.dialog_item_context_info {
    width: 346px;
    height: 38px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #666;
    margin-left: 50px;
}

.dialog_item_context_info_typo {
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
}

.pic_upload_container {
    width: 298px;
    margin-right: 40px;
}

.pic_upload {
    width: 298px;
    height: 168px;
    background: #F0F0F0;
}

.small_pic_upload_container {
    width: 298px;
    height: 52px;
    display: flex;
    margin-top: 10px;
    margin-right: -13px;
}

.small_pic_upload {
    min-width: 92px;
    height: 52px;
    background: #F0F0F0;
    margin-right: 11px;
}

.button_container_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.button_container {
    width: 286px;
    padding: 0;
}

.button_white, .button_blue {
    width: 133px;
}

.upload_container {
    align-items: flex-end;
}

.upload {
    width: 83px;
    height: 36px;
}

.upload_typo {
    color: #767676;
    font-size: 13px;
    font-weight: 400;
}

.profile_pic_upload {
    width: 58px;
    height: 58px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 18px;
}

.profile_name {
    display: flex;
    align-items: center;
    margin-right: 58px;
}

.profile_name_typo {
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

.profile_info_container {
    display: flex;
    align-items: center;
}

.profile_info {
    display: flex;
    align-items: center;
    margin-right: 23px;
}

.profile_info p:first-child {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    margin-right: 15px;
}

.profile_info p:last-child {
    color: #0083e8;
    font-size: 16px;
    font-weight: 600;
}