.info {
    width: 100%;
    justify-content: flex-start;
    border-bottom: none;
    margin-bottom: 0;
}

.info_title {
    min-width: 70px;
    color: #444;
    font-size: 13px;
    font-weight: 500;
    border-bottom: none;
    margin-right: 25px;
}