.login_body {
  width: 100%;
  min-height: calc(100vh - 250px);
  display: flex;
  justify-content: center;
}

.login_container {
  width: 330px;
  height: 518px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.login_title_typo {
  color: #333;
  font-size: 26px;
  font-weight: 500;
}

.login_editor_container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.login_editor {
  width: 330px;
  height: 40px;
  border: 1px #bbb solid;
  padding: 0 24px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.login_submit_button {
  width: 330px;
  height: 52px;
  background: #0083e8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.login_submit_button_typo {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.login_find_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.login_find_save_container {
  display: flex;
  align-items: center;
}

.login_find_save_typo {
  color: #a6a6a6;
  font-size: 11px;
  font-weight: 300;
  margin-left: 10px;
}

.login_find_info_container {
  width: 131px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_find_info_typo {
  color: #222;
  font-size: 11px;
  font-weight: 300;
  cursor: pointer;
}

.login_platform_container {
  width: 100%;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
}

.login_platform_button {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.login_platform_button_kakao {
  background: #feeb35;
}

.login_platform_button_kakao_typo {
  color: #3c1e1e;
  font-size: 13px;
  font-weight: 400;
}

.login_platform_button_naver {
  background: #19ce60;
}

.login_platform_button_naver_typo {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.login_platform_button_google {
  box-sizing: border-box;
  border: 1px solid #cccccc;
}

.login_platform_button_google_typo {
  color: #222;
  font-size: 13px;
  font-weight: 400;
}
