.list_data_type_margin {
    width: 68px;
}

.checkbox {
    width: 12px;
    height: 12px;
    margin: 12px 10px;
}

.nickname {
    width: 247px;
}

.success_rate {
    width: 112px;
}

.satisfaction {
    width: 200px;
}

.total_project {
    width: 136px;
}

.total_price {
    width: 144px;
}