.connection_location_container {
    margin-bottom: 44px;
}

.profile_wrapper {
    width: 100%;
    height: 668px;
    border-top: 2px solid #333;
    box-sizing: border-box;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 6.5px 40px 6.5px;
}

.profile_container {
    display: flex;
    margin: 20px 0;
}

.profile_item_container {
    box-sizing: border-box;
    margin: 0 13.5px;
}

.profile_item {
    height: 65px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.service_explanation {
    width: 873px;
    height: 124px;
    border: 1px solid #E5E5E5;
    padding: 21px;
}

.profile_item_typo_container {
    display: flex;
    align-items: baseline;
}

.profile_item_typo_container p:last-child {
    color: #B6B6B6;
    font-size: 13px;
    font-weight: 400;
    margin-left: 30px;
}

.profile_item_typo {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile_info_container {
    display: flex;
}

.profile_info_blank {
    width: 324px;
    height: 41px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #666;
}

.without_select_button {
    width: 500px;
}

.profile_info_blank_typo {
    color: #B6B6B6;
    font-size: 13px;
    font-weight: 400;
}

.profile_image_wrapper {
    width: 346px;
    height: 207px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
}

.select_button {
    min-width: 157px;
    height: 42px;
    display: flex;
    align-items: center;
    border: solid 1px #EFEFEF;
    margin-right: 20px;
}
    
.select_button_typo_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.select_button_typo {
    color: #B6B6B6;
    font-size: 14px;
}

.image_container {
    width: 100%;
    display: flex;
}

.image_wrapper {
    width: 165px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
}

.sample_image {
    width: 54px;
    height: 47px;
}

.pic_upload {
    width: 165px;
    height: 93px;
    background: #F2F2F2;
    margin-left: 12px;
}

.button_container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.writing_button, .cancel_button {
    width: 83px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2EFFF;
    margin: 0 0 60px 15px;
}

.writing_button_typo, .cancel_button_typo {
    color: #0083e8;
    font-size: 13px;
    font-weight: 500;
}

.cancel_button {
    background: #fff;
    border: 1px solid #E5E5E5;
}

.cancel_button_typo {
    color: #555555;
    font-weight: 400;
}