* {
    font-family: Pretendard;
}    

@font-face {
    font-family: Pretendard;
    src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

p {
    margin: 0;
}

input {
    border: none;
}

button {
    border: none;
    background-color: #fff;
}

.select_button {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    border: solid 1px #EFEFEF;
}

.select_button_large {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    border: solid 1px #EFEFEF;
}

.select_button_small {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    border: solid 1px #EFEFEF;
}
    
.select_button_typo_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.select_button_typo {
    color: #B6B6B6;
    font-size: 13px;
    font-weight: 400;
}

.select_button_item_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #444444;
    box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.2);
}

.select_button_item {
    width: 100%;
    min-height: 38px;
    display: flex;
    align-items: center;
}

.select_button_item_large {
    width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
}

.select_button_item_small {
    width: 100%;
    min-height: 24px;
    display: flex;
    align-items: center;
}

.select_button_item_typo {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    color: #444;
    font-size: 13px;
    font-weight: 300;
    padding-left: 20px;
}

.sign_up_individual {
    width: 155px;
}


.sign_up_expert_job {
    width: 171px;
}

.sign_up_expert_sectors {
    width: 155px;
}

.equipment_estimator_list {
    width: 152px;
} 

.date_expiry_dialog {
    width: 480px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
}

.date_expiry_dialog_header {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #F6F6F6;
    box-sizing: border-box;
    padding: 0 27px;
    margin-bottom: 7px;
}

.date_expiry_dialog_header_typo {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-right: 105px;
}

.date_expiry_dialog_body {
    width: 100%;
    height: 123px;
    box-sizing: border-box;
    padding: 0 27px;
}

.date_expiry_dialog_select_button_container {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date_expiry_dialog_button_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.date_expiry_dialog_button {
    width: 85px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0083E8;
}

.date_expiry_dialog_button_typo {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.equipment_estimator_writing_date_expiry {
    width: 403px;
}

.equipment_estimator_writing_date_expiry_select_button {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background: #EEEEEE;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    padding: 0 30px;
}

.equipment_estimator_writing_date_expiry_select_button_typo {
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 400;
}

.year {
    width: 112px;
}

.month {
    width: 89px;
}

.date {
    width: 89px;
}

.time {
    width: 112px;
}

.equipment_estimator_writing_date_expiry_select_button_after_entered {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    padding: 0 20px;
}

.equipment_estimator_select_board {
    width: 556px;
}

.select_button_item_container_select_board {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.2);
    overflow-y: auto;
}

.equipment_estimator_select_location {
    width: 347px;
}

.select_button_item_container_location {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.2);
    overflow-y: auto;
}

.select_button_item_container_year, .select_button_item_container_month, .select_button_item_container_date, .select_button_item_container_time {
    width: 100%;
    height: 205px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.2);
    box-sizing: border-box;
    padding-top: 8px;
    overflow-y: auto;
}

.equipment_estimator_edit_info {
    width: 155px;
}

.processing_center_profile {
    width: 155px;
}

.select_button_item_container_location_small {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.2);
    overflow-y: auto;
}

.processing_center_profile_select_button {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    border: solid 1px #EFEFEF;
}

.processing_center_profile_select_button_item {
    width: 100%;
    min-height: 42px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.processing_center_profile_selected_item {
    color: #B6B6B6;
    font-size: 13px;
    font-weight: 400;
}

.project_view_all {
    width: 152px;
}

.project_request_date {
    width: 118px;
}

.project_request_preference {
    width: 121px;
}

.project_request_calendar {
    width: 189px;
    border: 0.5px solid #444444;
    box-shadow: 0px 4px 10px rgba(34, 34, 34, 0.2);
}

.project_request_calendar_header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_request_calendar_header_typo {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    margin: 0 25px;
}

.project_request_calendar_body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 18px 20px;
}

.project_request_calendar_days_container {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
}

.project_request_calendar_days {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_request_calendar_days_typo {
    color: #b6b6b6;
    font-size: 9px;
    font-weight: 400;
}

.project_request_calendar_date_container {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
}

.project_request_calendar_date {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_request_calendar_date_today {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2EFFF;
}

.project_request_calendar_date_typo {
    color: #555;
    font-size: 10px;
    font-weight: 400;
}

.project_request_calendar_date_today_typo {
    color: #0083e8;
    font-size: 10px;
    font-weight: 400;
}

.cheesigner_view_all_container {
    width: 152px;
}

.my_page {
    width: 152px;
}

.tribute_request {
    width: 152px;
}

.tribute_request_dialog {
    width: 810px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
}

.tribute_request_prosthetics_select_button {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #F6F6F6;
    box-sizing: border-box;
    padding: 0 30px;
}

.tribute_request_prosthetics_select_button_typo {
    color: #333;
    font-size: 28px;
    font-weight: 600;
    margin-right: 297px;
}

.tribute_request_prosthetics_select_button_container_single {
    width: 100%;
    height: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 35px;
}

.prosthetics_type {
    width: 152px;
}

.prosthetics_type_current {
    background: #E2EFFF;
}

.tribute_request_etc_chosen {
    width: 810px;
    height: 349px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
}

.tribute_request_prosthetics_select_button_container {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 35px;
}

.tribute_request_divider {
    width: 740px;
    height: 1px;
    background: #E5E5E5;
    margin: 0 auto;
}

.tribute_request_prosthetics_select_button_etc_chosen {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #F6F6F6;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 20px;
}

.prosthetics_type_etc_chosen_direct_input {
    width: 100%;
    height: 52px;
    border: 1px solid #E5E5E5;
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0 17px;
}

.tribute_request_button_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 35px;
}

.tribute_request_button {
    width: 133px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0083E8;
}

.tribute_request_button_typo {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.select_button_inactive {
    background: #F2F2F2;
}

.sign_up_membership_type_select_container {
    width: 238px;
    height: 54px;
}

.sign_up_membership_type_select_top {
    height: 10px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

.line_border {
    width: 120px;
    height: 0.5px;
    background-color: #555;
}

.left_inclined_border {
    width: 12px;
    height: 1px;
    background: #555;
    transform: rotate(-45deg);
    margin: 0 0 3.5px -2.8px;
}

.right_inclined_border {
    width: 12px;
    height: 1px;
    background: #555;
    transform: rotate(45deg);
    margin: 0 -2.8px 3.5px;
}

.sign_up_membership_type_select_body {
    width: 236px;
    height: 46px;
    display: flex;
    border: 1px solid #555;
    border-top: none;
}

.sign_up_membership_type_select_item {
    width: 118px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sign_up_membership_type_select_item_typo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0 9px;
}

.sign_up_membership_type_select_item_selected_typo {
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3baaff;
    font-size: 13px;
    font-weight: 700;
    border-bottom: 5px solid #3baaff;
    box-sizing: border-box;
    padding: 0 9px;
    margin-bottom: -5px;
}