.container {
    width: 620px;
    height: 905px;
    box-sizing: border-box;
    padding: 26px 50px 50px 50px;
}

.dialog_header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #333;
}

.dialog_header_typo {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.dialog_close_button {
    width: 29px;
    height: 29px;
    margin-top: 10px;
}

.dialog_item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 24px 0;
}

.dialog_item_title {
    min-width: 113px;
}

.dialog_item_title_typo {
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.dialog_item_context_container {
    width: 407px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding-left: 30px;
}

.dialog_item_context_typo {
    color: #444;
    font-size: 13px;
    font-weight: 300;
    margin-top: 7px;
}

.dialog_item_context_typo_container {
    width: 111px;
    display: flex;  
    justify-content: end;
    align-items: baseline;
    border-bottom: 1px solid #555;
    padding-bottom: 7px;
    margin-right: 10px;
}

.dialog_item_context_calculate_price {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.dialog_item_context_blank {
    width: 95px;
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid #E5E5E5;
    padding: 0 14px;
}

.dialog_item_context_blank_typo {
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
}

.operator {
    color: #444;
    font-size: 13px;
    font-weight: 300;
    margin: 0 13px;
}

.price_num  {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.dialog_item_context_pic_upload {
    width: 100%;
    height: 211px;
    background: #f0f0f0;
}

.pic_upload_container {
    width: 298px;
    margin-right: 40px;
}

.pic_upload {
    width: 298px;
    height: 168px;
    background: #F0F0F0;
}

.small_pic_upload_container {
    width: 298px;
    height: 52px;
    display: flex;
    margin-top: 10px;
    margin-right: -13px;
}

.small_pic_upload {
    min-width: 92px;
    height: 52px;
    background: #F0F0F0;
    margin-right: 11px;
}

.upload_container {
    align-items: flex-end;
}

.upload {
    width: 83px;
    height: 36px;
}

.upload_typo {
    color: #767676;
    font-size: 13px;
    font-weight: 400;
}

.image_slider {
    width: 298px;
    height: 168px;
    background: #C4C4C4;
    background: #F0F0F0;
    box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.image_slider_arrow_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_slider_arrow_container img:first-child {
    transform: rotate(180deg);
}

.image_slider_arrow {
    margin: 0 13px;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px 60px 0 60px;
}

.button_white {
    width: 189px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
}

.button_white_typo {
    color: #767676;
    font-size: 16px;
    font-weight: 400;
}

.button_blue {
    width: 189px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0083E8;
    background: #0083E8;
}

.button_blue_typo {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.bottom_info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.bottom_info_typo {
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 400;
}

.select_button_container {
    display: flex;
}

.select_button {
    min-width: 107px;
    height: 38px;
    display: flex;
    align-items: center;
    border: solid 1px #EFEFEF;
    margin-left: 13px;
}
    
.select_button_typo_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
    
.select_button_typo {
    color: #B6B6B6;
    font-size: 14px;
}