.project_electronic_contract_connection_location_container {
    margin-bottom: 44px;
}

.project_electronic_contract_select_button {
    width: 107px;
    height: 30px;
    padding: 0 10px;
    margin-right: 13px;
}
