.list_main_container {
    overflow-x: hidden;
}

.filter_container {
    width: 100%;
    min-height: 68px;
    display: flex;
    align-items: center;
    background: #F2F2F2;
    border-top: 2px solid #333;
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 45px;
}

.filter {
    display: flex;
    margin-right: 40px;
}

.filter_typo {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}

.main_center_carousel_card_container {
    width: 1162px;
    height: 885px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}
  
.main_center_carousel_card {
    width: 271px;
    height: 265px;
    background: #fff;
    padding: 40px 30px;
    box-sizing: border-box;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin: 15px 25px;
}
  
.main_center_carousel_card_chip {
    width: 42px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #007ddb;
    box-sizing: border-box;
    border-radius: 10px;
}
  
.main_center_carousel_card_chip_typo {
    font-weight: 700;
    font-size: 10px;
    color: #007ddb;
}
  
.main_center_carousel_card_title_typo {
    font-size: 18px;
    font-weight: 700;
    color: #555;
    margin-top: 18px;
}
  
.main_center_carousel_card_divider {
    width: 18px;
    height: 2px;
    background: #555;
    margin-top: 30px;
}
  
.main_center_carousel_card_item_typo {
    font-size: 13px;
    font-weight: 500;
    color: #555;
    margin-top: 29px;
}
  
.main_center_carousel_card_item_description_typo {
    font-size: 13px;
    font-weight: 400;
    color: #a0a0a0;
    margin-top: 18px;
}

.writing_button_container {
    display: flex;
    justify-content: end;
}

.writing_button {
    width: 83px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2EFFF;
}

.writing_button_typo {
    color: #0083e8;
    font-size: 13px;
    font-weight: 500;
}