.connection_location_container {
    margin-bottom: 44px;
}

.writing_info_sub_container {
    width: 100%;
    height: 48px;
    display: flex;
    margin-bottom: 15px;
}

.select_box_container {
    height: 100%;
    display: flex;
}

.select_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 0 15px;
    margin-right: 15px;
}

.select_board {
    width: 556px;
    height: 100%;
    margin-right: 10px;
}

.select_box_typo {
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
}

.select_box_arrow {
    width: 17px;
    height: 8px;
}

.select_location {
    width: 347px;
}

.calendar {
    width: 189px;
}

.time {
    width: 118px;
}

.select {
    width: 126px;
}

.writing_info_title {
    width: 515px;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    padding: 0 20px;
    margin-right: 10px;
}

.writing_info_title_typo {
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
}

.writing_info_date_expiry {
    width: 388px;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    background: #eee;
    padding: 0 20px;
}

.writing_info_date_expiry_typo {
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 400px;
}

.writing_info_main_container {
    width: 100%;
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.writing_info_intro {
    width: 100%;
    height: 95px;
    background: #fafafa;
    box-sizing: border-box;
    padding: 20px 30px;
}

.writing_info_intro_typo{
    width: 575px;
    color: #0083E8;
    font-size: 13px;
    font-weight: 300px;
    margin-bottom: 7px;
}

.writing_info_item_container {
    box-sizing: border-box;
    padding: 30px 30px 20px 30px;
}

.writing_info_item {
    width: 100%;
    height: 38px;
    display: flex;
    margin-bottom: 15px;
}

.writing_info_item_blank {
    width: 441px;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #E5E5E5;
    padding: 0 20px;
}

.writing_info_item_typo {
    min-width: 200px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.detail {
    height: 100px;
    margin-top: 27px;
}

.writing_info_detail_blank {
    width: 100%;
    height: 100px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    padding: 20px;
}

.writing_info_detail_blank_typo {
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
}

.writing_info_underline_box {
    width: 333px;
    height: 100%;
    border-bottom: 1px solid #666666;
    margin-left: 5px;
}

.move_button {
    width: 123px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0083E8;
    border-radius: 19px;
    margin-right: 78px;
}

.move_button_typo {
    color: #0083E8;
    font-size: 13px;
    font-weight: 500;
}

.move_button_margin {
    width: 123px;
    margin-right: 78px;
}

.request {
    width: 479px;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 19px;
    box-sizing: border-box;
    padding: 0 24px;
}

.request_typo_title {
    color: #444;
    font-size: 13px;
    font-weight: 500;
}

.request_typo_context {
    color: #444;
    font-size: 13px;
    font-weight: 300;
}

.main_container_divider {
    margin-bottom: 30px;
}

.writing_info_button_left {
    width: 115px;
}